<div>
    <label class="primary">{{localize 'QUICKNPC.step.chooseTraits.name'}}</label>
    <div>
        <label class="primary">
            {{localize 'QUICKNPC.step.chooseTraits.npcName'}}
            <input type="text" name="name" value="{{name}}" />
        </label>
    </div>
    <div>
        <label class="secondary">
            {{localize 'QUICKNPC.step.chooseTraits.traits'}}
            <input type="text" name="traits" value="{{traits}}" />
        </label>
    </div>
</div>