<div>
    <label class="primary">
        {{localize step}}
        <select name="selected">
            {{selectOptions options selected=selected blank='QUICKNPC.step.chooseSkill.blank' localize=true labelAttr='label'}}
        </select>
    </label>
    <p>{{localize (lookup (lookup options selected) 'description')}}</p>
    {{#each choices}}
        <hr/>
        <label class="secondary">
            {{localize label}}
            <select name="choice.{{@key}}">
                {{selectOptions options selected=(lookup ../selectedChoices @key) blank='QUICKNPC.step.chooseSkill.blank' localize=true}}
            </select>
        </label>
    {{/each}}
</div>