<div class="sub-header border-bottom border-left">
    <span class="defenses">
        <span>{{localize 'QUICKNPC.preview.def'}} +{{bonuses.def}}</span>
        <span>{{localize 'QUICKNPC.preview.mDef'}} +{{bonuses.mDef}}</span>
    </span>
    <span class="traits border-left">
        <span>{{localize 'QUICKNPC.preview.traits'}}</span>
        <span>{{traits}}</span>
    </span>
</div>